{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-left">{{ .Title }}</h1>
      <div class="text">{{ .Content }}</div>
			<div>
				{{ $currentSection := .CurrentSection }}
				{{ range where .Site.RegularPages.ByTitle "Section" .Section }}
					{{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
						<div>
							<a href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
						</div>
					{{ end }}
				{{ end }}
			</div>
    </article><br>
  </div>
</div>
{{ end }}